/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[叠]uild/
/[Bb]uilds/
/[Cc][Mm]ade-build*/
/[Ll]ogs/
/[Vv]isualStudioTestResults*/
/Assets/Plugins/Editor/JetBrains*
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db